




.skills-section{
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2(1fr);
    padding-bottom: 150px;
}

.skills-section .skillss{
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    gap: 40px;
    text-align: center;
    justify-content: center;
}
.skills-section .skillss .icon{ 
    display: flex;
    flex-direction: column;
    padding: 5px 20px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Initial shadow */
  transition: box-shadow 0.5s ease; /* Transition for smooth fading */
  }



.skills-section .skillss .icon:hover{ 
    box-shadow: 0 0 20px rgba(207, 61, 61, 0.5); 
}

.skills-section .skillss .icon p{
    margin: 0;
    margin-top: 10px;
    color: #ffffff;
    font-family: 'REM', sans-serif;

}
.skills-section .skillss img{
    margin-top: 10px;
    height: 90px;
    width: 90px;
}

.skills-section .description{
    text-align: left;
    padding: 100px 50px 50px 50px;
    font-family: 'REM', sans-serif;
    color: #fff;

}

.skills-section .description h1{
    padding-left: 10px;
    border-left: 10px solid #f54b64;
}



